@keyframes elegantRainbow {
	0%, 100% { color: #6c3483; }
	20% { color: #2874a6; }
	40% { color: #148f77; }
	60% { color: #82e0aa; }
	80% { color: #f4d03f; }
}

@keyframes pulse {
	0%, 100% { transform: scale(1); }
	50% { transform: scale(1.2); }
}

.card {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
	background-color: white;
}

.card:hover {
	transform: scale(1.05);
}

.cardImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.card:hover .cardImage img {
	transform: scale(1.1);
}

.cardTitle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
	color: #fff;
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.3s ease-in-out;
}

.card:hover .cardTitle {
	opacity: 1;
	transform: translateY(0);
}

.favoriteButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 30px;
	color: #f00;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.favoriteButton .heartBorder, .favoriteButton .heartFill {
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	width: 100%;
	height: 100%;
}

.favoriteButton:hover .heartFill {
	fill: #f00;
	animation: pulse 1s infinite;
}

.card:hover .favoriteButton {
	animation: elegantRainbow 2s linear infinite;
}
