/* Header.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.headerLogo {
  height: 70px;
}

.nav {
  display: flex;
}

.navbarList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarListItem {
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbarLink {
  text-decoration: none;
  font-weight: 500;
  color:#ff6060
}

.navbarLink:hover {
  color: #ff6060;
}

@media screen and (min-width: 1000px) {
  .header {
    padding: 20px 100px;
  }
  
  .navbarLink {
    font-size: 22px;
  }
}
