/* styles/About.module.css */

.aboutMain {
  margin: 20px;
}

.sectionTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ff6060;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;

}

@media screen and (min-width: 1000px) {
  .aboutMain {
    margin-left: 200px;
    margin-right: 200px;
  }

  .sectionTitle {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .dropdownContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 
  }
}
